@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Inter:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans antialiased text-gray-800 bg-slate-50;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
